$background-color:rgba(186, 152, 125, 0.338);

.book-details{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        button{
            border: none;
            display: inline;
            vertical-align:middle;
            span{
                padding: 5px 2px;
            }
            font-family: 'Mulish-Regular';
            background: none;
            align-self: flex-start;
        }
        
        .book-details-content{
            display: flex;
            gap:50px;
            .book-details-img{
                display: flex;
                justify-content: center;
                
                align-items: center;
                img{
                    @media screen and (max-width: 480px){
                        height: 300px;
                        
                    }
                    @media screen and (min-width: 768px){
                        height: 600px;
                    }
                    @media screen and (max-width: 767px){
                        height: 450px;
                    }

                }
            }
            .book-details-info{
                background-color: $background-color;
                padding: 1rem 2rem;
                border-radius:4px;
                display: flex;
                flex-direction: column;
                gap:30px; 
                .book-details-info::-webkit-scrollbar-track{
                    border-radius: 8px;
                    box-shadow:inset 0 0 5px rgba(0,0,0,0.3);
                } 
                .book-details-item{
                    display: flex;
                    align-items:center;
                    gap:30px;  
                    h1{
                        font-size: 3rem;
                    }
                    h2{
                        font-family: 'Oswald-Bold';
                    }
                    }
            }
            

        }
    }
}
@media screen and (max-width: 767px) {
    .book-details-content{
        padding: 40px 20px;
        flex-direction: column;
        .book-item-img img {
            height: 200px; 
          }
    }
    
  }

@media screen and (max-width: 992px) {
    .book-details-content{
        padding: 60px 40px;
        .book-details-info{
            display: flex;
            flex-direction: column;
            gap:5px;
        }
        flex-direction: column;
        .subject{
            text-align: start;
            justify-content: start;
            align-content: start;
            flex-direction: column;
        }
    }
}
@media screen and (min-width: 993px) {
    .book-details-content{
        padding: 0 100px 70px 100px;
    }

}